@{
    ViewData["Title"] = "Home Page";
    ViewData["PageDescription"] = "Current Book List";
}
@model BookListViewModel

<table class="table-bordered table-dark col-12">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>ISBN</th>
            <th>Classification</th>
            <th>Category</th>
            <th>Price</th>
            <th># of Pages</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var b in Model.Books)
        {
            <partial name="BookSummary" model="b" />
        }
    </tbody>
</table>

<!--the dynamically created page numbers, also has the bootstrapping for the page number buttons-->
<div page-model="@Model.PagingInfo"
     page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-danger" page-url-category="@Model.Category"
     class="btn-group pull-right m-1"></div>